<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Bootstrap CRUD Data Table for Database with Modal Form</title>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<!-- <script>
$(document).ready(function(){
	// Activate tooltip
	$('[data-toggle="tooltip"]').tooltip();
	
	// Select/Deselect checkboxes
	var checkbox = $('table tbody input[type="checkbox"]');
	$("#selectAll").click(function(){
		if(this.checked){
			checkbox.each(function(){
				this.checked = true;                        
			});
		} else{
			checkbox.each(function(){
				this.checked = false;                        
			});
		} 
	});
	checkbox.click(function(){
		if(!this.checked){
			$("#selectAll").prop("checked", false);
		}
	});
});
</script> -->
</head>
<body>
	<div class="container-xl">
		<div class="column-sm">
		  <form class="form">
			<input type="search" class="form-control" placeholder="Search..." aria-label="Search" [(ngModel)]="searchTerm" [ngModelOptions]="{standalone: true}">
		  </form>
		</div>
		<div class="column-sm">
			<select class="form-select" aria-label="Default select example" [(ngModel)]="selectedType">
				<option value="" selected disabled>Type</option>
				<option *ngFor="let type of documentTypes" [value]="type">{{ type }}</option>
			</select>
		</div>
		
		<div class="column-sm">
			<input type="date" class="form-control" [(ngModel)]="dateSelected">
		  </div>
		  <div class="column-sm">
			<button class="btn btn-primary" (click)="search()">Search</button>
		  </div>
		  <div class="column-sm">
			<button class="btn btn-primary" (click)="resetFilters()">Reset</button>
		  </div>
		  
	  </div>
	  
      <div class="container-xl " class="second">

	<div class="table-responsive">
		<div class="table-wrapper">
			<div class="table-title">
				<div class="row">
					<div class="col-sm-6">
						<h2>Liste <b>Documents</b></h2>
					</div>
					<div class="col-sm-6">
            <button class="btn btn-success" (click)="afficherPopup()">
                <i class="material-icons">&#xE147;</i> <span>Importer</span>
            </button>
        </div>
				</div>
			</div>
			<table class="table table-striped table-hover">
				<thead>
					<tr>
						<th>
							<span class="custom-checkbox">
								<input type="checkbox" id="selectAll">
								<label for="selectAll"></label>
							</span>
						</th>
						<th>Nom du document</th>
						<th>Type du document</th>
						<th>Date de creation</th>
						<th>lien du document</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let document of documents">
						<td>
						  <span class="custom-checkbox">
							<input type="checkbox" id="checkbox{{document.uuid}}" name="options[]" value="{{document.uuid}}">
							<label for="checkbox{{document.uuid}}"></label>
						  </span>
						</td>
						<td>{{document.nomDocument}}</td> 
						<td>{{document.typeDocument}}</td> 
						<td>{{document.dateCreation}}</td> 
						<td><a href="{{document.linkDocument}}">{{document.linkDocument}}</a></td>
						<td class="action-icons">
							<div>
								<button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#shareModal" (click)="getDocument(document.uuid)">
									<i class="material-icons" data-toggle="tooltip" title="Share">&#xE80D;</i>
								</button>
							</div>
						
							<div>
								<button type="button" class="btn btn-danger btn-sm" (click)="deleteDocument(document.uuid)">
									<i class="material-icons">&#xE872;</i>
								</button>
							</div>
							
							
						</td>
						
					</tr>
					
					
				</tbody>
			</table>
			
		</div>
	</div>        
</div>


  <!-- Share Modal -->
  <div class="modal fade" id="shareModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
	  <div class="modal-content">
		<!-- <div class="modal-header">
		  <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
		  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		</div>
		<div class="modal-body">
		  ...
		</div> -->
		<div class="card">
			<h5 class="card-header">Partager Le Document</h5>
			<div class="card-body">
				<h6 class="card-title mt-3">Le document choisie</h6>
				<div class="card">
					<div class="card-header bg-danger text-white">
					  {{documentName}}
					</div>
				  </div>
			  <h6 class="card-title mt-3">Essayer de selectionner utilisateur et l'accès approprié</h6>
			  <div class="container">
				<div class="row">
				  <div class="col">
					<select class="form-select" id="usersSelect" [(ngModel)]="selectedUserId" >
					  <option value="" selected disabled hidden>Utilisateur</option>
					  <!-- Options pour les utilisateurs -->
					  <option *ngFor="let user of users" [value]="user.id">{{user.nom}}</option>
					</select>
				  </div>
				</div>
				<div class="row mt-3">
					<div class="col">
						<select class="form-select" id="rightsSelect" [(ngModel)]="selectedRole">
						  <option value="" selected disabled hidden>Droit</option>
						  <!-- Options pour les droits -->
						  <option value="Lecture"><i class="fas fa-eye"></i> Lecture</option>
						  <option value="Ecriture"><i class="fas fa-pen"></i> Ecriture</option>
						  <option value="Autre"><i class="fas fa-cogs"></i> Autre</option>
						  <!-- Ajoutez d'autres options au besoin -->
						</select>
					  </div>
				</div>
			  </div>
			</div>
		  </div>
		<div class="modal-footer">
		  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
		  <button type="button" class="btn btn-primary" (click)="addAutorisation()" data-bs-dismiss="modal">Partager</button>
		</div>
	  </div>
	</div>
  </div>

</body>
</html>