<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Bootstrap CRUD Data Table for Database with Modal Form</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
<body>
  <!-- Nav  -->
    <nav class="navbar navbar-dark bg-info">
        <a class="navbar-brand" href="#" style="display: flex; align-items: center;">
            <i class="material-icons" style="font-size: 24px;">account_circle</i>
            <span class="navbar-text" style="font-size: 24px; margin-left: 5px;">DocUser</span>
        </a>
    </nav>
   
    <div class="container-xl">
        <div class="column-sm">
            <form class="form">
                <input [(ngModel)]="searchTerm" name="searchTerm" class="form-control" placeholder="Search..." aria-label="Search">
            </form>
        </div>
        <div class="column-sm">
            <select class="form-select" aria-label="Default select example" [(ngModel)]="selectedType">
                <option value="" selected disabled style="color: gray;">Type</option>
                <option *ngFor="let type of documentTypes" [value]="type">{{ type }}</option>
            </select>
        </div>
        <div class="column-sm">
            <input type="date" class="form-control" [(ngModel)]="dateSelected">
        </div>
        <div class="column-sm" style="display: flex;">
            <button class="btn btn-info" (click)="search()" style="flex: 1; margin-right: 5px;">Search</button>
            <button class="btn btn-info" (click)="resetFilters()" style="flex: 1;">
                <i class="material-icons">refresh</i>
            </button>
        </div>
    </div>
   
    <div class="container-xl " class="second">
        <div class="table-responsive">
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-6">
                            <h2>Liste <b>Documents</b></h2>
                        </div>
                    </div>
                </div>
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>
                                <span class="custom-checkbox">
                                    <input type="checkbox" id="selectAll">
                                    <label for="selectAll"></label>
                                </span>
                            </th>
                            <th>Nom du document</th>
                            <th>Type du document</th>
                            <th>Date de creation</th>
                            <th>lien du document</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let document of documents">
                            <td>
                                <span class="custom-checkbox">
                                    <input type="checkbox" id="checkbox{{document.uuid}}" name="options[]" value="{{document.uuid}}">
                                    <label for="checkbox{{document.uuid}}"></label>
                                </span>
                            </td>
                            <td>{{document.nomDocument}}</td>
                            <td>{{document.typeDocument}}</td>
                            <td>{{document.dateCreation}}</td>
                            <td>
                                <a href="{{document.linkDocument}}" target="_blank" style="display: flex; align-items: center;">
                                    <i class="material-icons" style="margin-right: 5px;">link</i>{{document.nomDocument}}
                                </a>
                            </td>
                            <td class="action-icons">
                                <style>
                                    .custom-btn-sm {
                                        padding: 0.25rem 0.5rem;
                                        font-size: 0.6rem;
                                    }
                                </style>
                                <div>
                                    <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#shareModal" (click)="getDocument(document.uuid)">
                                        <i class="material-icons" data-toggle="tooltip" title="Share">&#xE80D;</i>
                                    </button>
                                </div>
                                <div>
                                    <button type="button" class="btn btn-info custom-btn-sm" (click)="openDetails(document, detailsModal)">
                                        <i class="material-icons" data-toggle="tooltip" title="Details">&#xE88E;</i>
                                    </button>
                                </div>
                                <div>
                                    <button type="button" class="btn btn-success custom-btn-sm" (click)="downloadDocument(document.uuid)">
                                        <i class="material-icons">file_download</i>
                                    </button>
                                </div>
                                <ng-template #detailsModal let-modal="close">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title">Détails du Document</h4>
                                            <button type="button" class="close" aria-label="Close" (click)="modal()">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="table-responsive">
                                                <table class="table table-bordered table-striped">
                                                    <tbody>
                                                        <tr>
                                                            <th scope="row" class="bg-info text-white" style="width: 30%;">Nom du document:</th>
                                                            <td style="width: 70%; word-wrap: break-word;">{{ selectedDocument?.nomDocument }}</td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row" class="bg-info text-white" style="width: 30%;">Type du document:</th>
                                                            <td style="width: 70%; word-wrap: break-word;">{{ selectedDocument?.typeDocument }}</td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row" class="bg-info text-white" style="width: 30%;">Date de création:</th>
                                                            <td style="width: 70%; word-wrap: break-word;">{{ selectedDocument?.dateCreation }}</td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row" class="bg-info text-white" style="width: 30%;">Métadonnées:</th>
                                                            <td style="width: 70%; word-wrap: break-word;">
                                                                <span *ngIf="selectedDocument?.metadata">
                                                                    <ng-container *ngIf="parseMetadata(selectedDocument.metadata)">
                                                                        <ng-container *ngFor="let metadata of parseMetadata(selectedDocument.metadata) | keyvalue">
                                                                            <span class="metadata-key">{{ metadata.key }}</span>:
                                                                            <span class="metadata-value">{{ metadata.value }}</span><br>
                                                                        </ng-container>
                                                                    </ng-container>
                                                                </span>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" (click)="modal('Save click')">Fermer</button>
                                        </div>
                                    </div>
                                </ng-template>
                                <ng-template #confirmDeleteModal let-modal>
                                    <div class="modal-header">
                                        <h4 class="modal-title">Confirmer la suppression du document</h4>
                                        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <p class="confirmation-text">Êtes-vous sûr de vouloir supprimer ce document ?</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" (click)="modal.dismiss()">Annuler</button>
                                        <button type="button" class="btn btn-danger" (click)="confirmDelete()">Supprimer</button>
                                    </div>
                                </ng-template>
                                <div>
                                    <button type="button" class="btn btn-danger custom-btn-sm" (click)="openConfirmDeleteModal(document.uuid)">
                                        <i class="material-icons">&#xE872;</i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="row">
                  <div class="col">
                    <button class="btn btn-success" (click)="afficherPopup()" style="display: flex; align-items: center;">
                        <i class="material-icons" style="margin-right: 5px;">&#xE147;</i>
                        <span>Importer</span>
                    </button>
                </div>

                <div class="col">
                  <button class="btn btn-dark" (click)="afficherPopupListe()" style="display: flex; align-items: flex-end;" data-bs-toggle="modal" data-bs-target="#partageModal">
                      <i class="material-icons" style="margin-right: 5px;">&#xE147;</i>
                      <span>Voir liste des partages</span>
                  </button>
              </div>
                </div>
                
            </div>
        </div>        
    </div>
    [13:35] omar boukioud (Invité)
<div>
                                <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#shareModal" (click)="getDocument(document.uuid)">
                                    <i class="material-icons" data-toggle="tooltip" title="Share">&#xE80D;</i>
                                </button>
                            </div>
[13:35] omar boukioud (Invité)
<!-- Share Modal -->
  <div class="modal fade" id="shareModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <!-- <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ...
        </div> -->
        <div class="card">
            <h5 class="card-header">Partager Le Document</h5>
            <div class="card-body">
                <h6 class="card-title mt-3">Le document choisie</h6>
                <div class="card">
                    <div class="card-header bg-danger text-white">
                      {{documentName}}
                    </div>
                  </div>
              <h6 class="card-title mt-3">Essayer de selectionner utilisateur et l'accès approprié</h6>
              <div class="container">
                <div class="row">
                  <div class="col">
                    <select class="form-select" id="usersSelect" [(ngModel)]="selectedUserId" >
                      <option value="" selected disabled hidden>Utilisateur</option>
                      <!-- Options pour les utilisateurs -->
                      <option *ngFor="let user of users" [value]="user.id">{{user.nom}}</option>
                    </select>
                  </div>
                </div>
                <div class="row mt-3">
                    <div class="col">
                        <select class="form-select" id="rightsSelect" [(ngModel)]="selectedRole">
                          <option value="" selected disabled hidden>Droit</option>
                          <!-- Options pour les droits -->
                          <option value="Lecture"><i class="fas fa-eye"></i> Lecture</option>
                          <option value="Ecriture"><i class="fas fa-pen"></i> Ecriture</option>
                          <option value="Autre"><i class="fas fa-cogs"></i> Autre</option>
                          <!-- Ajoutez d'autres options au besoin -->
                        </select>
                      </div>
                </div>
              </div>
            </div>
          </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)="addAutorisation()" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#exampleModal">Partager</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <h4>Le partage à été ajoutée avec succès</h4>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>


  <!-- liste partages Modal -->
  <div class="modal fade" id="partageModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="card">
            <h5 class="card-header">LISTE DES PARTAGES</h5>
            <div class="card-body">
                 
              <div class="container-xl " class="second">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Nom-Document</th>
                      <th scope="col">Nom Utilisateur</th>
                      <th scope="col">Droit</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let autorisation of autorisations">
                      <td>{{autorisation.document.nomDocument}}</td>
                      <td>{{autorisation.user.nom}}</td>
                      <td>{{autorisation.typeAutorisation}}</td>
                    </tr>
                  </tbody>
                </table>
              </div> 

            </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
        
      </div>
    </div>
  </div>
</body>
</html>